.navbar{
    background: black;
}
.navbar-brand span{
    color: skyblue;
}
.navbar-brand{
    color: #ffffff;
}
.nav-link:hover{
    color: #ffffff;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav-link.active{
    border-bottom: 1px  solid;
}
.jumbotron{
    background: url(img/slider3.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 5rem;
}
.fs{
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fl{
    background: transparent;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid;
    margin-left: 1rem;
}
.fl:hover{
    text-decoration: none;
}
.best{
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
}
.start{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
.pro{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
    list-style: none;
    padding: 0;    
}
.design:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 225, 0.2);
}